body {
    height: 100%;
}
h2, .h2 {
    margin-top: 0;
}
.btn {
    margin: 0 !important;
}
/*-- Информация о пользователе --*/
#user-info .honors {
    margin: 5px 0;
}
#user-info .honors a {
    display: inline-block;
    margin: 0 10px;
}

/*-- Меню пользователя (справа) --*/
#users-menu {
    padding-right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
#users-menu ul {
    list-style: none;
    padding: 0;
}

#users-menu ul > li {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 7px 0;
    height: 32px;
}
#users-menu ul > li:first-child {
    margin-top: 0;
}
#users-menu ul > li:last-child {
    background: none;
    border-bottom: none;
}
#users-menu ul > li:hover,
#users-menu ul > li:focus,
#users-menu ul > li.active {
    /*background: #F2F2F2;*/
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);*/
    background: #337AB7 none repeat scroll 0% 0%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) inset;
}
#users-menu ul > li:hover a,
#users-menu ul > li:focus a,
#users-menu ul > li.active a {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
#users-menu ul > li > a {
    color: #232323;
    text-shadow: none;
    padding: 5px 3px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
#users-menu ul > li > a span {
    float: left;
    font-size: 14px;
    line-height: 22px;
}
#users-menu ul > li > a i.material-icons {
    float: left;
    font-size: 24px;
    line-height: 22px;
    margin-right: 5px;
}
#users-menu ul > li > a .glyphicon,
#users-menu ul > li > a .fa,
#users-menu ul > li > a .icon {
    font-size: 24px;
    line-height: 20px;
    margin: 0 5px;
}
#users-menu li a .label {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 10px;
    width: 18px;
    height: 16px;
    line-height: 1em;
    text-align: center;
    padding: 2px;
}


/*-- End Меню пользователя (справа) --*/

/*-- Личные сообщения --*/
.new-message {
    background: #c1e2b3 !important;
}
.new-message:hover {
    background: #dff0d8 !important;
}

#companions .body {
    border-right: 1px #E3E3E3 solid;
}
#companions .companion {
    padding: 10px;
    height: 70px;
    /*border-bottom: 1px #E3E3E3 solid;*/
}
#companions .companion.active  {
    background: #E3E3E3;
}
#companions .companion:hover  {
    background: #F5F5F5;
}
#companions .companion:last-child {
    border-bottom: none;
}
#companions .companion a {
    display: inline-block;
    width: 100%;
}
#companions .companion img {
    float: left;
    width: 50px;
}
#companions .companion a span {
    float: left;
    margin: 10px 0 0 10px;
}
#messages-area {
    overflow: auto;
    max-height: 600px;
    padding: 0px 20px 0 0;
}


/*-- Галерея (Мой автомобиль) --*/
#list-of-images .image {
    position: relative;
}
#list-of-images .image .buttons {
    position: absolute;
    top: 0;
    right: 0;
}
#list-of-images .image-description .buttons {
    float: right;
}

/*-- End Профиль пользователя --*/

