body {
    height: 100%;
}
h2, .h2 {
    margin-top: 0;
}
.btn {
    margin: 0 !important;
}
/*-- Информация о пользователе --*/
#user-info {
    margin-bottom: 20px;
}
#user-info .banned {
    line-height: 44px;
    margin-left: 20px;
}
#user-info .banned .unban,
#user-info-mobile .banned .unban {
    color: #F44336;
}
#user-info .honors,
#user-info-mobile .honors {
    margin: 5px 0;
    text-align: center;
}
#user-info .honors a,
#user-info-mobile .honors a {
    display: inline-block;
    margin: 0 10px;
}

#user-info-mobile {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
#user-info-mobile .avatar-link {
    margin-right: 10px;
}
#user-info-mobile .banned {
    line-height: 44px;
    margin-right: 10px;
}
#user-info-mobile .delete-avatar {
    line-height: 44px;
    margin-left: 10px;
}
#user-info-mobile .profile-user-status {
    margin: 0;
}


    /*-- Меню пользователя (справа) --*/
#users-menu {
    padding-right: 0;
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#users-menu ul {
    list-style: none;
    padding: 0;
}

#users-menu ul > li {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 7px 0;
    height: 32px;
}
#users-menu ul > li:first-child {
    margin-top: 0;
}
#users-menu ul > li:last-child {
    background: none;
    border-bottom: none;
}
#users-menu ul > li:hover,
#users-menu ul > li:focus,
#users-menu ul > li.active {
    background: #1B609C none repeat scroll 0% 0%;
    box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.5) inset;
}
#users-menu ul > li:hover a,
#users-menu ul > li:focus a,
#users-menu ul > li.active a {
    color: #FFF;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
#users-menu ul > li > a {
    color: #232323;
    text-shadow: none;
    padding: 5px 3px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
#users-menu ul > li > a span {
    float: left;
    font-size: 14px;
    line-height: 22px;
}
#users-menu ul > li > a i.material-icons {
    float: left;
    font-size: 24px;
    line-height: 22px;
    margin-right: 5px;
}
#users-menu ul > li > a .glyphicon,
#users-menu ul > li > a .fa,
#users-menu ul > li > a .icon {
    font-size: 24px;
    line-height: 20px;
    margin: 0 5px;
}
#users-menu li a .label {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 10px;
    height: 16px;
    line-height: 1em;
    text-align: center;
}
/*-- End Меню пользователя (справа) --*/

/*-- Галерея (Мой автомобиль) --*/
#list-of-images .image {
    position: relative;
}
#list-of-images .image .buttons {
    position: absolute;
    top: 0;
    right: 0;
}
#list-of-images .image-description .buttons {
    float: right;
}

/*-- Профиль пользователя --*/
#profile h2 {
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}
#profile #honors {
    margin-top: 10px;
}
.user-data-row {
    line-height: 24px;
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.user-data-row span,
.user-data-row .text {
    display: inline-block;
}
.user-data-row .tooltip {
    min-width: 150px;
}
.user-data-row span i,
.user-data-row span > span,
.user-data-row i,
.user-data-row .text {
    float: left;
}
.user-data-row span i {
    margin-right: 5px;
}

/* Баллы */
.points {
    display: inline-block;
    text-align: center;
}
.points img {
    width: 60px;
    margin-right: 10px;
}
.points .count {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 36px;
    line-height: 60px;
    font-weight: 300;
}

#delete-avatar {
    margin-right: 5px;
}

/* Награды */
#profile .honor {
    float: left;
    width: 50px;
    margin-right: 7px;
    position: relative;
}
#profile .honor.for-admin {
    margin-top: 15px;
}
#profile .honor a.remove-reward {
    position: absolute;
    top: -20px;
    right: -10px;
}

/*-- Gallery ("Мой автомобиль") --*/
#list-of-images .item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#list-of-images .item:last-child {
    border-bottom: none;
}
#list-of-images .item p {
    margin: 0;
}
#list-of-images h4 {
    margin-top: 0;
}

/*-- Редактирование страницы (статьи, вопроса) --*/
#page-image {
    position: relative;
}
#page-image #delete-image {
    position: absolute;
    top: 0;
    right: 0;
}

#tags-area .tag .btn {
    text-transform: none;
    line-height: 20px;
    padding: 4px 10px;
}
#tags-area .tag .material-icons {
    font-size: 20px;
}

/*-- Бортовой журнал --*/
#subscription {
    float: right;
}
#subscription .btn-group {
    margin: 0;
}
.journal-user-info .row {
    margin-top: 10px;
}
.journal-user-info .user-data-row .text {
    font-size: 16px;
    margin-left: 5px;
}

/*-- Подписки --*/
#subscriptions-area .user {
    display: block;
    float: left;
    margin-right: 10px;
}
#subscriptions-area h3 {
    margin-top: 0;
}
#comments-area .date,
#answers-area .date,
#saved-pages-area .date-saved,
#subscriptions-area .date-saved {
    font-size: 13px;
    color: #777777;
}
.subscription-notifications {
    margin-top: 15px;
}
.subscription-notifications .date {
    font-size: 13px;
    font-style: italic;
    margin-right: 20px;
}
.subscription-notifications .date i.material-icons {
    font-size: 10px;
}
.subscription-notifications .alert {
    text-align: left;
}
.subscription-notifications .alert-info {
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    color: rgb(51, 51, 51);
    border-bottom: 2px solid rgb(3, 169, 244);
    padding: 10px 35px 10px 10px;
}
.subscription-notifications .alert-info .close {
    color: #03A9F4;
    opacity: 0.5;
}
.subscription-notifications .alert-info .close:hover {
    opacity: 1;
}

/*-- Уведомления --*/
#notifications-area .well {
    padding: 15px 19px 15px 15px;
}
#notifications-area .item {
    text-align: left;
}
#notifications-area .icon {
    width: 100%;
    text-align: center;
}
#notifications-area .text {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
}
#notifications-area .text a {
    text-decoration: none;
}
#notifications-area .text a:hover {
    text-decoration: underline;
}
#notifications-area .date {
    font-size: 13px;
    font-style: italic;
    color: #777777;
}

/*-- Комментарии, Ответы --*/
#comments-area,
#answers-area {
    text-align: left;
}
#comments-area .date-created,
#answers-area .date-created {
    line-height: 24px;
}
#comments-area .date-created .date,
#answers-area .date-created .date {
    font-style: italic;
}
#comments-area .vote,
#answers-area .vote {
    margin-top: 30px;
}
#comments-area .comment-text,
#answers-area .comment-text {
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    color: rgb(51, 51, 51);
    border-bottom: 2px solid rgb(3, 169, 244);
    padding: 10px 20px 10px 10px;
    margin-bottom: 10px;
}
#comments-area .comment-text.best,
#answers-area .comment-text.best {
    border-bottom: 2px solid #4CAF50;
}
#comments-area .comment-text .best,
#answers-area .comment-text .best {
    height: 22px;
}
#comments-area .comment-text img,
#answers-area .comment-text img {
    float: left;
}
#comments-area .comment-text p:last-child,
#answers-area .comment-text p:last-child {
    margin: 0;
}
/* удаленные комментарии */
#comments-area .comment.deleted .comment-text,
#answers-area .comment.deleted .comment-text {
    opacity: 0.7;
}
#comments-area .comment.deleted .deleted-text,
#answers-area .comment.deleted .deleted-text {
    line-height: 24px;
    color: #F44336;
}
#comments-area .comment.deleted .comment-text,
#answers-area .comment.deleted .comment-text {
    border-bottom: 2px solid #F44336;
}

/*-- Личные сообщения --*/
/* Собеседники */
#companions .body {
    max-height: 680px;
    overflow: auto;
    padding-right: 10px;
}
#companions .companion {
    padding: 10px 10px 10px 12px;
    height: 70px;
    display: inline-block;
    width: 100%;
}
#companions .companion.active,
#companions .companion:hover  {
    background: #F5F5F5;
    border-left: 2px solid #03A9F4;
    padding-left: 10px;
}
#companions .companion.active .is-online-status,
#companions .companion:hover .is-online-status {
    border-color: #F5F5F5;
}
#companions .companion a {
    display: inline-block;
    width: 100%;
}
#companions .companion img {
    float: left;
    width: 50px;
}
#companions .companion .login-link span {
    float: left;
    margin: 10px 0 0 10px;
}
#companions .tooltip {
    z-index: 999;
}

/* Список сообщений */
#messages-area #scroll {
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
    max-height: 600px;
    padding: 20px 20px 20px 0;
}
#scroll.without-border {
    border: none !important;
}
.message {
    background-color: #FFF;
    padding: 10px 19px 19px 19px;
    margin-bottom: 20px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0 none;
    border-bottom: 2px solid #03A9F4;
}
.message.link {
    display: block;
    width: 100%;
}
.message.new-message {
    background: #dff0d8;
    border-bottom: 2px solid #4CAF50;
    transition-duration: 2.5s;
    -ms-transition-duration: 2.5s;
    -o-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    -webkit-transition-duration: 2.5s;
    cursor: pointer;
}
.message.new-message:hover {
    background: #c1e2b3;
}
.message .date {
    float: right;
    font-size: 13px;
    font-style: italic;
    color: #777777;
    margin-bottom: 5px;
}
.message p:last-child {
    margin: 0;
}

/* Новое сообщение */
#message-form-container {
    margin-top: 20px;
}

@media (max-width: 767px) {
    /* Профиль пользователя */
    #user-info-mobile .profile-user-status .text {
        font-size: 12px;
    }
    .points img {
        width: 40px;
    }
    .points .count {
        font-size: 32px;
        line-height: 40px;
    }
    /* Меню пользователя */
    #users-menu-mobile ul {
        list-style: none;
        margin-bottom: 10px;
        display: inline-block;
        padding: 0;
    }
    #users-menu-mobile ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #users-menu-mobile ul li a {
        padding-left: 10px;
        padding-right: 6px;
    }
    #users-menu-mobile ul li a .material-icons {
        font-size: 20px;
        float: left;
    }
    #users-menu-mobile ul li a .label {
        float: left;
        top:0;
        margin-top: 2px;
    }
    /* Галерея (Мой автомобиль) */
    .image-description {
        margin-top: 20px;
    }
    #list-of-images .item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    /* Уведомления */
    #notifications-area .text {
        font-size: 16px;
    }
}
@media (min-width: 630px) and (max-width: 766px) {
    /* Меню пользователя */
    #users-menu-mobile ul li a .material-icons {
        font-size: 22px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Меню пользователя */
    #users-menu-mobile ul {
        list-style: none;
        margin-bottom: 10px;
        display: inline-block;
        padding: 0;
    }
    #users-menu-mobile ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #users-menu-mobile ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* Галерея (Мой автомобиль) */
    .image-description {
        margin-top: 20px;
    }
    #list-of-images .item {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* Меню пользователя */
    #users-menu ul > li {
        margin: 5px 0;
        height: 30px;
    }
    #users-menu ul > li > a {
        padding: 4px 3px;
    }
    #users-menu ul > li > a span {
        font-size: 12px;
    }
    /* Профиль пользователя */
    .points {
        margin-top: 5px;
    }
    .points img {
        width: 36px;
    }
    .points .count {
        font-size: 26px;
        line-height: 36px;
    }
    .user-data-row {
        font-size: 12px;
        height: 24px;
        margin-bottom: 5px;
    }
    /* Бортовой журнал */
    .journal-user-info .user-data-row .text {
        font-size: 12px;
        height: 24px;
        margin-bottom: 5px;
    }
}
@media (min-width: 1200px) and (max-width: 1329px) {
    /* Меню пользователя */
    #users-menu ul > li > a span {
        font-size: 13px;
    }
}

@media (min-width: 1330px) {

}
