@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700italic,700&subset=latin,cyrillic-ext);

body {
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: url('../images/bg.jpg') repeat;
}
body .well p,
.container .well p {
    font-weight: 400;
}
a:hover,
a:focus {
    outline: none;
}
/*-- Заголовки --*/
.h2, h2 {
    font-size: 26px;
}
h2 .login {
    display: inline-block;
    margin-top: 5px;
}
.h3, h3,
.h4, h4 {
    font-size: 22px;
    font-weight: 400;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 15px;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
/* Отступы */
.without-padding {
    padding: 0 !important;
}
.without-margin {
    margin: 0 !important;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-left-5 {
     margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.br-xxs {
    display: none;
}
.alert a,
.alert-link {
    color: #ffffff !important;
}
.g-recaptcha {
    display: inline-block;
}
/* Buttons */
.button-group {
    display: inline-block;
    float: right;
    margin: 23px 0 0;
}
.btn {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 24px;
}
.btn-full {
    width: 100%;
}
.btn i {
    float: left;
    margin-right: 5px;
}
.btn-primary:hover:not(.btn-link):not(.btn-flat) {
    background: #03A9F4;
}
.buttons a {
    margin-left: 5px;
}
.material-icons {
    max-width: 30px;
}
.tooltip {
    min-width: 120px;
    white-space: nowrap;
}
.label {
    padding: 0.2em 0.5em 0.3em;
}
.font-mini {
    font-size: 10px;
    font-style: italic;
}
.mark, mark {
    padding: 0 0.1em;
    background-color: rgba(255, 224, 49, 0.5);
    /*background-color: rgba(255, 171, 0, 0.5);*/
}
.opacity {
    opacity: 0.3;
}
.loader-checkbox {
    background: url('../images/loader-button.gif');
}
/*header {*/
    /*height: 125px;*/
/*}*/
/*#cabinet header {*/
    /*height: 25px;*/
/*}*/

/*-- Logo --*/
.logo {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
.logo img {
    width: auto;
}
#site-title {
    text-align: left;
}
#site-title h1 {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#site-title h1 .slogan {
    font-size: 18px;
}
/*-- End Logo --*/

/*-- Header--*/
#login-layout header {
    height: 100px;
}
.header {
    /*background: #DDDDDD;*/
}
.btn-login {
    width: 136px;
    padding-top: 1px;
    padding-bottom: 3px;
    line-height: 24px;
}
.btn-login span {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.btn-login span .text,
.btn-login span .material-icons {
    float: left;
    line-height: 24px;
}
.btn-login span .material-icons {
    margin: 0 0 0 5px;
    float: right;
}

/*-- Content --*/
.content {
    font-size: 16px;
}
.content,
.blog .item {
    text-align: justify;
}
#content h2, .content h2,
#content h3, .content h3,
#content h4, .content h4,
#content h5, .content h5 {
    text-align: left;
    font-weight: 400;
}
#cabinet #content h2, #cabinet .content h2 {
    font-weight: 300;
}
#cabinet #content .well h2, #cabinet .content .well h2 {
    font-weight: 400;
}
.content .fancybox {
    float: left;
    max-width: 100%;
    width: 100%;
    text-align: center;
}
.content .fancybox img {
    max-width: 100% !important;
    height: auto !important;
}
.content .fancybox img:first-child {
    margin: 0 0 10px;
}
#content iframe {
    max-width: 100% !important;
    width: 100%;
}

/* links */
#content a:not(.btn),
.content a:not(.btn) {
    color: #1292CE;
    text-decoration: underline;
}
#content h1 a, .content h1 a,
#content h2 a, .content h2 a,
#content h3 a, .content h3 a,
#content h4 a, .content h4 a {
    text-decoration: none !important;
}

.blog .image {
    float: left;
    margin: 10px 10px 5px 0;
}
.blog img {
    margin: 5px;
}
.blog .avatar-link img {
    margin: 0;
}
.blog .category {
    line-height: 24px;
    display: inline-block;
}
.blog .category .text {
    margin-right: 5px;
    font-style: italic;
}

.page-info {
    display: inline-block;
    width: 100%;
    background: rgba(229, 229, 229, 0.5);
    padding: 4px 10px 0;
    box-sizing: content-box;
    margin-left: -10px;
    margin-bottom: 5px;
    font-size: 14px;
}
.blog .page-info {
    margin-bottom: 0;
}
.page-info .material-icons {
    float: left;
    margin-right: 2px;
}
.page-info div {
    margin-left: 10px;
}
.page-info div:first-child {
    margin-left: 0;
}
.page-info .user {
    margin: 0 !important;
}
.page-info .user a {
    display: inline-block;
}
.page-info .user a span {
    line-height: 24px;
}
.page-info .user img {
    margin: 0 5px 0 0;
}
.page-info .date span {
    float: left;
    line-height: 24px;
    font-style: italic;
}
.page-info .views span {
    float: left;
    line-height: 24px;
}
.page-info .comments-count a,
.page-info .answers-count a {
    float: left;
    line-height: 24px;
}
.page-info #saved-pages a {
    float: left;
    line-height: 24px;
    margin-right: 5px;
}
.page-info #saved-pages a span {
    float: left;
    line-height: 24px;
}
.page-info #saved-pages .whoSaved {
    float: left;
    line-height: 24px;
}
.page-info .saved-count span {
    float: left;
    line-height: 24px;
}
.page-info .rating span {
    float: left;
    line-height: 24px;
}
.page-info .subscribers span {
    float: left;
    line-height: 24px;
}

/* Questions Area, Articles Area */
.blog .user {
    text-align: center;
}
.blog .user a {
    display: inline-block;
}
.blog .page-info {
    height: 30px;
}
.blog .answers-text {
    margin-top: 7px;
}
.blog .answers-text,
.blog .answers-value {
    text-align: right;
    position: relative;
}
.blog .answers-value .material-icons {
    font-size: 32px;
    line-height: 40px;
    float: right;
    margin-right: 5px;
}
.blog .answers-value a.count {
    font-size: 24px;
    line-height: 40px;
    text-decoration: none !important;
    margin: 0;
    float: right;
}
.blog .answers-value a.count.best {
    color: #4CAF50 !important;
}
.blog .col-md-12 .answers-text,
.blog .col-md-12 .answers-value {
    line-height: 40px;
    margin: 0 7px 0 0;
}

/* Subscriptions Area, Saved Pages Area */
#saved-pages-area .date-saved,
#subscriptions-area .date-saved {
    margin: 0 0 7px 0;
}
#saved-pages-area .date-saved .date,
#subscriptions-area .date-saved .date {
    font-style: italic;
}

/* кнопки редактирования для авторизованных пользователей */
.blog .buttons {
    width: 100%;
    text-align: center;
    height: 24px;
    margin-top: 5px;
}
.blog .buttons a {
    margin-left: 5px;
}
.blog .status {
    float: left;
    margin: 4px 5px 10px -10px;
}

/* Похожие статьи */
#related-widget {
    text-align: left;
}
#related-widget ul {
    list-style: none;
    padding-left: 10px;
}
#related-widget ul li {
    margin-bottom: 5px;
}
#related-widget ul li a {
    text-decoration: none !important;
}
#related-widget ul li a:hover {
    text-decoration: underline !important;
}


/* Tags */
.tags {
    list-style: none;
    padding: 0;
}
.tags li {
    float: left;
    margin-right: 5px;
}
.tags li a.tag {
    text-transform: none;
    padding: 2px 7px 3px;
    margin: 2px 0;
    line-height: 14px;
}

/* Виджет тегов */
#tags-sidebar-widget {
    padding: 0 16px;
}
#tags-sidebar-widget .tag {
    border-bottom: 2px solid #03A9F4;
    background: #F5F5F5;
    padding: 2px 10px;
    text-transform: none;
}
#tags-sidebar-widget .all-tags a {
    text-decoration: underline;
}
#tags-sidebar-widget .all-tags a:hover {
    text-decoration: none;
}

/* Страница со списком тегов */
#letters a {
    font-size: 15px;
    padding: 5px 10px;
    border-bottom: 2px solid #03A9F4;
    background: #F5F5F5;
}
#tags-area .letter-section {
    margin: 10px 0 20px;
}
#tags-area .letter-title {
    background: #F5F5F5 none repeat scroll 0% 0%;
    border-top: 2px solid #03A9F4;
    padding: 5px 10px 5px 20px;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}
#tags-area .letter-title .letter {
    font-size: 26px;
}
#tags-area .letter-title .count {
    font-style: italic;
}
#tags-area .tags {
    display: inline-block;
    width: 100%;
}
#tags-area .tags a span {
    line-height: 30px;
}

/* Rating */
#rating {
    margin-top: -5px;
}
#rating #rate-votes {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
}
#rating #rate-voters {
    text-align: center;
    font-size: 13px;
}

/*-- End Content --*/

/*-- Navbar --*/
#navbar-top {
    margin-top: 7px;
    padding: 0;
    display: inline-block;
}
#navbar-top .navbar-nav {
    float: left;
}
#navbar-top .navbar-nav > li > a {
    padding: 5px 5px;
    color: #1292CE;
    text-decoration: underline;
}
#navbar-top .navbar-nav > li > a:hover,
#navbar-top .navbar-nav > li > a:focus,
#navbar-top .navbar-nav > li.active > a {
    text-decoration: none;
    background: none;
}
.header .buttons {
    margin-top: 7px;
}
.header .btn-login {
    margin: 0;
}
.header .btn-register {
    line-height: 20px;
    padding: 5px 0;
    margin: 0 10px 0 0;
}

/*-- Main menu --*/
#navbar-main {
    background: #1B609C;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.navbar #navbar-main .navbar-nav {
    float: none;
    display: inline-block;
    font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
.navbar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar #navbar-main .navbar-nav > li > a {
    font-size: 16px;
    color: #ffffff !important;
    font-weight: 400;
}
.navbar #navbar-main .navbar-nav > li > a:hover,
.navbar #navbar-main .navbar-nav > li > a:focus {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1) !important;
}
#navbar-main {
    padding: 0;
    text-align: center;
    height: 50px !important;
}
#navbar-main .dropdown:hover .dropdown-menu {
    display: block;
}
#navbar-main .dropdown-menu li > a:hover,
#navbar-main .dropdown-menu li > a:hover {
    color: #ffffff;
    background: #1B609C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.navbar-custom {
    background: #337AB7 !important;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

/*-- Breadcrumbs --*/
.breadcrumb {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 17px;
    display: inline-block;
    width: 100%;
}
.breadcrumb li {
    float: left;
    height: 17px;
}
.breadcrumb > li + li::before {
    padding: 0 2px 0 5px;
}
.breadcrumb li.home-page .material-icons {
    font-size: 17px;
}
.breadcrumb li a {
    color: #1292CE;
    display: inline-block;
}

/*-- Blog area --*/
.blog .count,
#comments-area .count {
    font-size: 13px;
    color: #777777;
    margin: 0 0 10px;
}
.blog .count.margin-bottom-20,
#comments-area .count.margin-bottom-20 {
    margin-bottom: 20px;
}

.read-more {
    margin-top: 10px;
}
.read-more .material-icons {
    float: right;
}

/*-- Sidebar Widget --*/
.sidebar-widget .list-group-item .row-content {
    width: calc(100% - 67px);
}
.sidebar-widget .list-group-separator {
    margin: 7px 15px 7px 0;
}
.sidebar-widget .list-group-item .material-icons:not(.mdi-success) {
    /*color: #777777;*/
    color: #1B609C;
}
.sidebar-widget .list-group-item .row-picture {
    text-align: center;
}
.sidebar-widget .list-group-item .row-content .login {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #333333;
    margin-bottom: 5px;
    display: inline-block;
}
.sidebar-widget .list-group-item .row-picture img {
    width: 50px;
    height: 50px;
}
.sidebar-widget .list-group-item .row-picture i {
    background: none !important;
    display: inline !important;
}
.sidebar-widget .list-group-item .row-picture a {
    text-decoration: none;
}
.sidebar-widget .list-group-item .row-picture .date,
.sidebar-widget .list-group-item .row-picture .rate {
    width: 56px;
    display: block;
}
.sidebar-widget .list-group-item .row-picture .date i {
    font-size: 30px;
}
.sidebar-widget .list-group-item .row-picture img.square,
.sidebar-widget .list-group-item .row-action-primary img.square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.sidebar-widget .list-group-item .created-date {
    text-align: right;
}
.sidebar-widget .list-group-item .created-date span {
    display: block;
    font-size: 13px;
    font-style: italic;
    color: #444444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.sidebar-widget .list-group-item .created-date span.full-date {
    color: #777777;
}
.sidebar-widget .list-group-item {
    text-align: left;
}
.sidebar-widget .material-icons {
    margin-right: 2px;
}
.sidebar-widget .count {
    line-height: 24px;
}
.sidebar-widget .views .count {
    line-height: 26px;
}

/* Sidebar Widget - Questions */
#questions-sidebar-widget .answers {
    margin: 5px 0 0 0;
}
#questions-sidebar-widget .best .material-icons.mdi-success {
    font-size: 46px;
    line-height: 46px;
}
/* Sidebar Widget - Popular */
#popular-sidebar-widget .views,
#unpopular-sidebar-widget .views {
    display: block;
}
/* Sidebar Widget - Latest */
#latest-sidebar-widget .list-group-separator {
    margin: 7px 15px;
}
#latest-sidebar-widget .list-group-separator::before {
    width: 100%;
}
#latest-sidebar-widget .date {
    margin-bottom: 5px;
}
#latest-sidebar-widget .date .text {
    line-height: 28px;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* Sidebar Widget - Best */
#best-sidebar-widget .rating {
    margin-bottom: 5px;
    width: 100%;
}
#best-sidebar-widget .rating .rate-votes {
    z-index: 9;
    top: 4px;
    margin-right: 10px;
    font-size: 24px;
    line-height: 24px;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}
#best-sidebar-widget .rating .rate-voters {
    margin-left: 10px;
    font-size: 13px;
    color: #444444;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* RSS, Favorites, Social buttons */
#social-buttons-widget {
    display: inline-block;
    float: left;
}
.b-share_theme_counter .b-share_type_small .b-share-btn__wrap {
    margin-bottom: 5px;
}

#favorites-widget,
#rss-widget {
    float: left;
    margin-left: 5px;
}
#favorites-widget a,
#rss-widget a {
    margin-top: 0;
}
#favorites-widget i.material-icons,
#rss-widget i.material-icons {
    color: #1B609C;
    font-size: 24px;
}
#rss-widget img {
    margin-right: 5px;
    margin-top: -1px;
    width: 22px;
}

/* Area Widget */
.area,
.area .advertising {
    position: relative;
    text-align: center;
    /*display: inline-block;*/
}
.area .advertising a {
    color: #1292CE;
}
.area.edit {
    border: 2px dotted #bbbbbb;
    padding: 5px 0;
}
.area .area-title {
    position: absolute;
    top: -3px;
    color: #888888;
    font-size: 13px;
}

/* Реклама */
.advertising-body {
    max-width: 100% !important;
}
.advertising-body iframe,
.advertising-body img {
    max-width: 100% !important;
}
.area-content .advertising-body iframe,
.area-content .advertising-body img  {
    padding-right: 15px;
    padding-left: 15px;
}

.area .advertising.edit .advertising-body {
    border: 2px dashed #337AB7;
}

.area .advertising.not-active .advertising-body {
    opacity: 0.5;
    border: 2px dashed #FF5722;
}
.area .advertising.access-3 {
    display:none;
}
.area.edit .buttons {
    display: inline-block;
}
.area.edit .create {
    margin: 0;
}
.area.edit .btn-sm {
    padding: 7px 10px;
    line-height: 1;
}
.area.edit [class^="mdi-"],
.area.edit [class*="mdi-"] {
    font-size: 18px;
}
.area .advertising-body h4 {
    margin-bottom: 15px;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
}
#content .advertising {
    margin: 5px 0 10px 0;
}
#content .content .advertising {
    margin: 5px 0;
}

/* Search Widget */
#search {
    margin-top: 52px;
    display: inline-block;
    width: 100%;
}

#search button {
    background: none;
    border: none;
    padding: 0;
    text-align: center;
}
#search button i.material-icons {
    color: #1B609C;
    font-size: 34px;
}
#search .form-control,
#search-users-form .form-control {
    background-image: linear-gradient(#337AB7, #337AB7), linear-gradient(#337AB7, #337AB7);
    background-size: 0px 2px, 100% 2px;
}
#search .hint {
    color: #777777;
    font-style: italic;
}
#search .form-control-wrapper .floating-label,
#search-users-form .form-control-wrapper .floating-label {
    color: #337AB7;
}

/* HTML карта сайта */
#sitemap {
    padding-left: 10px;
    margin-top: 20px;
    text-align: left;
    color: #03A9F4;
}
#sitemap li {
    list-style: none;
}
#sitemap a {
    text-decoration: none !important;
}
#sitemap a:hover {
    text-decoration: underline !important;
}
#sitemap ul {
    padding: 10px 20px;
    margin: 10px 20px;
    border-left: 3px solid #03A9F4;
}
#sitemap ul li {
    margin-bottom: 5px;
    list-style-image: url('../images/dash.png');
}

/* Контактная форма */
#contact-form .checkbox {
    margin: 0;
    float: left;
}
#contact-form label.send-copy {
    float: left;
    margin-right: 10px;
    font-weight: 400;
    line-height: 25px;
}

/*.form-control {*/
    /*transition: all 0s ease 0s;*/
/*}*/
/*.form-control.focus {*/
    /*outline: none;*/
    /*background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);*/
    /*background-size: 100% 2px, 100% 1px;*/
    /*box-shadow: none;*/
    /*transition-duration: 0.3s;*/
/*}*/

/*-- End Sidebar Widget --*/

/*-- Комментарии --*/

#comments-widget .comment {
    position: relative;
    text-align: left;
    z-index: 0;
}
#comments-widget .comment .close-comment {
    position: absolute;
    left: -15px;
    top: 0;
}
#comments-widget .comment-text {
    background: rgb(242, 242, 242) none repeat scroll 0% 0%;
    color: rgb(51, 51, 51);
    border-left: 2px solid rgb(3, 169, 244);
    padding: 10px 20px 10px 10px;
    margin: 0 0 10px 10px;
}
#comments-widget .comment-text.best {
    border-left: 2px solid #4CAF50;
}
#comments-widget .comment-text.deleted {
    opacity: 0.5;
}
#comments-widget .avatar-link {
    margin-right: 10px;
}
#comments-widget .avatar-link.gray-background .is-online-status {
    border-color: rgb(242, 242, 242);
}
#comments-widget .login,
#contact-form .login {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-decoration: none !important;
    font-weight: 400;
}
#comments-widget .date {
    font-size: 13px;
    font-style: italic;
    color: #777777;
}
#comments-widget .best-comment {
    margin-left: 20px;
}
#comments-widget .best-comment i.material-icons {
    font-size: 36px;
    margin-top: -5px;
}
#comments-widget .mark-comment-as-best {
    margin-left: 20px;
    color: #4CAF50 !important;
}
#comments-widget .vote {
    width: auto;
    margin-top: 5px;
    margin-right: -7px;
}
.comment .vote {
    width: 100%;
    text-align: center;
}
.comment .vote .vote-result {
    font-size: 20px;
}
.comment .vote .vote-like,
.comment .vote .vote-dislike {
    display: block;
    height: 20px;
}
.comment .vote .vote-like i,
.comment .vote .vote-dislike i {
    font-size: 40px;
    line-height: 20px;
    margin-right: 9px;
}

#comments-widget .vote-like {
    color: #4CAF50 !important;
}
#comments-widget .vote-dislike {
    color: #F44336 !important;
}
/* Ответ на комментарий */
#comments-widget .reply {
    margin-left: 65px;
}
#comments-widget .reply-comment-form {
    margin-top: 20px;
}
#comments-widget .reply-comment-form input[type="submit"] {
    margin-top: 0;
}
/* Дочерние комментарии */
#comments-widget .children-comments {
    margin: 0 0 0 50px;
}
#comments-widget .children-comments .comment-text {
    background: none;
    border: none;
    padding: 0 20px 0 0;
    margin: 0;
}
#comments-widget .children-comments .comment {
    border-bottom: 1px solid rgb(242, 242, 242);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#comments-widget .children-comments .comment:last-child {
    border-bottom: none;
}
#comments-widget .children-comments .login {
    float: left;
    margin-right: 15px;
}
#comments-widget .children-comments .date {
    float: left;
    line-height: 14px;
    margin-top: 10px;
}

/* Аватарка пользователя, статус online/offline */
.avatar {
    background: rgba(0, 0, 0, 0.1);
    padding: 1px;
}
.avatar.circle {
    border-radius: 100%;
}
.avatar-link {
    position: relative;
    padding: 0;
    display: block;
}
.avatar-link.display-inline-block {
    display: inline-block;
}
.avatar-link .is-online-status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}
.avatar-link.gray-background .is-online-status {
    border: 2px solid #DADADA;
}
.is-online-status.online {
    background: #4CAF50;
}
.is-online-status.offline {
    background: #A0A0A0;
}
/* таблица со всеми пользователями */
#users tr:hover .avatar-link .is-online-status {
    border: 2px solid #F5F5F5;
}
#users .table > thead > tr > th {
    border-bottom: none;
}

#users .honors {
    margin-top: 5px;
}
#users .honors a {
    float: left;
    line-height: 25px;
}

.new-comment {
    background: #C1E2B3;
    transition-duration: 2.5s;
    -ms-transition-duration: 2.5s;
    -o-transition-duration: 2.5s;
    -moz-transition-duration: 2.5s;
    -webkit-transition-duration: 2.5s;
}

/*-- Лидеры месяца --*/
#leaders-sidebar-widget h4 span {
    color: #E2970E;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 2px;
    display: inline-block;
}
#leaders-sidebar-widget h5 {
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    text-shadow: 0 1px 0 #F6E164;
    font-weight: 400;
}
#leaders-sidebar-widget .award {
     background: #ffffff url("../images/award.png") no-repeat;
     height: 300px;
     margin-bottom: 30px;
}
#leaders-sidebar-widget .award .row-user {
    position: relative;
    top: 40px;
    padding-left: 40px;
}
#leaders-sidebar-widget .award .row-user .login {
    display: block;
    width: 100%;
    font-size: 20px;
    color: #E2970E;
}
#leaders-sidebar-widget .award .row-user .login:hover {
    text-decoration: none;
}
#leaders-sidebar-widget .award .row-content {
    position: relative;
    top: 70px;
    padding-left: 40px;
    font-style: italic;
}
#leaders-sidebar-widget .award .row-content p {
    margin-bottom: 5px;
}
#leaders-sidebar-widget .award .row-title {
    position: relative;
    top: 88px;
}


/*-- Поиск по пользователям --*/
#search-users-form {
    margin-bottom: 10px;
}
#search-users-form button {
    margin-top: 5px;
}
/* Все пользователи */
#users {
    text-align: left;
}
#users .full-name {
    margin-bottom: 0;
}

/* Статус online/offline */
.profile-user-status {
    margin: 0 0 15px;
    display: inline-block;
}
.profile-user-status .is-online-status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 7px;
}
.profile-user-status span {
    line-height: 20px;
}
.profile-user-status .text {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.profile-user-status .tooltip {
    text-shadow: none;
}

/* Дата регистрации пользователя */
.date.date-register {
    line-height: 24px;
}
.date.date-register span {
    font-style: italic;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Аватарка пользователя */
.profile-user-avatar {
    width: 100%;
    max-width: 260px;
    margin: 0 0 5px;
    display: inline-block;
}
.profile-user-avatar .avatar-link {
    position: relative;
}
.profile-user-avatar .avatar {
    width: 100%;
    max-width: 260px;
    padding: 5px;
}
.profile-user-avatar .banned-image {
    position: absolute;
    bottom: 0;
}

.profile-user-avatar .avatar-default {
    padding: 0 !important;
    border: none;
    background: none;
}
.journal-user-info .honors {
    margin: 10px 0;
}

/*-- Награды --*/
#rewarded-users .user {
    display: inline-block;
    margin-right: 10px;
}
#honors-sidebar-widget {
    text-align: center;
}
#honors-sidebar-widget .honor {
    display: inline-block;
    width: 100%;
    height: 70px;
    text-align: left;
    margin-bottom: 5px;
}
#honors-sidebar-widget .honor.active,
#honors-sidebar-widget .honor:hover {
    background: #F5F5F5;
    border-left: 2px solid #03A9F4;
}
#honors-sidebar-widget .honor a {
    display: inline-block;
    width: 100%;
    padding: 10px 10px 10px 12px;
}
#honors-sidebar-widget .honor.active a,
#honors-sidebar-widget .honor:hover a {
    padding-left: 10px;
}
#honors-sidebar-widget .honor a img {
    width: 50px;
    margin-right: 10px;
}
#honors-sidebar-widget .honor a span {
    margin-top: 10px;
}

#honor-info h2 {
    text-align: center;
}
#honor-info .honor-image {
    width: 100%;
    text-align: center;
}
#honor-info .honor-image img {
    display: inline-block;
}
#honor-info .honor-description {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*-- Footer --*/
footer {
    background: url("../images/footer.jpg");
    margin-bottom: 0;
    min-height: 250px;
}
footer nav {
    width: 100%;
    text-align: center;
}
footer .copyright {
    width: 100%;
    text-align: center;
    color: #E1E1E1;
}
footer .copyright a {
    color: #03A9F4;
}

/* Всплывающие сообщения */
#site-messages {
    position: fixed;
    top: 45px;
    right: 0;
    opacity: 0.8;
    width: 400px;
    max-width: calc(100% - 40px);
    margin: 20px;
}

/* Bottom Menu */
#navbar-bottom {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 20px 0;
}
#navbar-bottom li {
    margin: 0 20px 0 0;
}
#navbar-bottom li {
    margin: 0 20px 0 0;
}
#navbar-bottom li a {
    color: #E1E1E1;
    text-decoration: underline;
}
#navbar-bottom li a:hover,
#navbar-bottom li.active a {
    text-decoration: none;
}

/*-- Кнопка Back To Top --*/
.back-to-top {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    background: rgba(3, 169, 244, 0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.back-to-top .material-icons {
    color: #ffffff;
    font-size: 26px;
    line-height: 50px;
}
.back-to-top.is-visible,
.back-to-top.fade-out,
.back-to-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.back-to-top.is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: .7;
}
.back-to-top.fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .7;
}
.back-to-top:hover {
    opacity: 1;
}

/* Login Layout ==================================================*/
#login-layout .btn {
    margin: 0 15px 0 0;
}
#login-layout .g-recaptcha {
    margin-top: 15px;
}
#login-layout .form-group a {
    display: inline-block;
    line-height: 36px;
    margin-right: 15px;
    text-decoration: underline;
}
#login-layout a:hover {
    text-decoration: none;
}
/* Errors ==================================================*/
.error {
    text-align: center;
    width: 100%;
    font-family: RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.error .error-code {
    font-size: 200px;
    font-weight: 300;
}
.error .error-message {
    font-size: 34px;
    font-weight: 300;
}

/*-- Полоса уведомлений для авторизованных пользователей --*/
/* Header==================================================*/
#header-widget {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

#header-widget .navbar {
    background-color: #FFF;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    height: 51px;
    margin-bottom: 0;
    /*margin-left: 210px;*/
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
#header-widget .navbar .nav a {
    color: #5e5e5e;
    line-height: 20px;
}
#header-widget .navbar .nav > li.open:not(.widget-user) {
    width: 50px;
}
#header-widget .navbar .nav > li {
    height: 50px;
}
#header-widget .navbar .nav > li > a {
    display: inline-block;
}
#header-widget .navbar .nav > li > a:hover,
#header-widget .navbar .nav > li > a:focus {
    text-decoration: none;
    background-color: #EEE;
}
#header-widget .nav .open > a,
#header-widget .nav .open > a:hover,
#header-widget .nav .open > a:focus
{
    background-color: #EEE;
    border-color: #428BCA;
}
#header-widget .navbar-right {
    margin-right: 0 !important;
}
#header-widget .navbar .sidebar-toggle {
    float: left;
    padding: 9px 5px;
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 5px;
    background-color: transparent;
    background-image: none;
}

#header-widget .navbar .sidebar-toggle:hover .icon-bar {
    background: #999999
}

#header-widget .navbar .sidebar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #333333;
}

#header-widget .navbar .sidebar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

#header-widget .navbar .navbar-header {
    width: 20%;
    float: left;
}

#header-widget .navbar .navbar-header .navbar-form .form-control {
    border: 0 !important;
    font-size: 13px;
    background: #f3f3f4;
}

#header-widget .navbar .navbar-header .navbar-form button {
    background: #f3f3f4;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#header-widget .navbar .nav > li.user > a {
    font-weight: bold;
}

#header-widget .navbar .nav > li.user > a > i {
    margin-right: 5px;
}

#header-widget .navbar .nav > li > a > .label {
    position: absolute;
    top: 7px;
    right: 5px;
    font-size: 10px;
    height: 16px;
    line-height: 1.0em;
    text-align: center;
}
#header-widget .logo {
    background: none;
    color: #2F5082;
    float: left;
    font-size: 20px;
    padding: 0;
    width: auto;
    font-weight: 600;
    height: 50px;
    display: block;
    line-height: 50px;
    margin: 0 20px 0 0;
}
#header-widget .logo i {
    margin: 0 15px;
    background: none;
    float: left;
    line-height: 50px;
}
#header-widget .widget-user a {
    padding: 14px 15px 11px;
}
#header-widget .material-icons {
    font-size: 20px;
    float: left;
}
.fixed > #header-widget, .fixed .leftside, .fixed .navbar {
    position: fixed;
}

.fixed > #header-widget {
    top: 0;
    right: 0;
    left: 0;
}

.fixed .navbar {
    left: 0;
    right: 0;
}

/* Dropdown Menu */
#header-widget .dropdown-menu {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    z-index: 2300;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header-widget .dropdown-menu > li > a > i {
    margin-right: 10px;
}

#header-widget .dropdown-menu > li > a:hover {
    background-color: #3c8dbc;
    color: #f9f9f9;
}
#header-widget .dropdown-menu > li .avatar-link .is-online-status {
    height: 12px;
    width: 12px;
    border: 2px solid #FFF;
    top: 2px;
    right: 6px;
}
#header-widget .dropdown-menu > li:hover .avatar-link .is-online-status {
     border: 2px solid #F6F6F6;
 }
#header-widget .navbar-nav .dropdown-menu {
    width: 270px;
    padding: 0 !important;
    margin: 0 !important;
    top: 100%;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
}

#header-widget .navbar-nav .dropdown-menu > li.header {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color: #f5f5f5;
    padding: 10px;
    color: #444444;
    font-size: 14px;
    box-shadow: inset 0 1px 0 0 #FFF;
    text-shadow: 1px 1px 0 #FFF;
}

#header-widget .navbar-nav .dropdown-menu > li.header i {
    color: #696969;
    margin-right: 5px;
}

#header-widget .navbar-nav .dropdown-menu > li.footer > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    background-color: #f5f5f5;
    padding: 8px;
    color: #444444;
    text-align: center;
}

#header-widget .navbar-nav .dropdown-menu > li.footer > a:hover {
    background: #f0f0f0;
    text-decoration: none;
    font-weight: normal;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul,
.navbar-nav > .dropdown-letters > .dropdown-menu > li ul,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul,
.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a,
.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a,
.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a {
    display: block;
    /*white-space: nowrap;*/
    border-bottom: 1px solid #f0f0f0;
}

.navbar-nav > .dropdown-tasks > .dropdown-menu .progress {
    height: 10px;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a:hover,
.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a:hover,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a:hover,
.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a:hover {
    background: #f6f6f6;
    text-decoration: none;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a {
    padding: 4px 5px 7px;
    font-size: 12px;
    color: #444444;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a > span {
    font-size: 11px;
}

.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a > i {
    width: 25px;
    text-align: center;
    padding: 6px 0;
    margin: 13px 5px 5px;
}
.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a small {
    width: calc(100% - 50px);
    display: inline-block;
    text-align: right;
    color: #999;
    font-size: 10px;
}
.navbar-nav > .dropdown-notifications > .dropdown-menu > li ul > li > a p {
    margin-bottom: 0;
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a {
    margin: 0;
    line-height: 20px;
    padding: 10px 5px 10px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a > div > img,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a > div > img {
    margin: auto 10px auto auto;
    width: 40px;
    height: 40px;
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a > h4,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a > h4 {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a > h4 > small,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    float: right;
    /*margin-top: -15px;*/
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a > p,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a > p {
    margin: 0 0 0 45px;
    font-size: 12px;
    color: #888888;
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a:before,
.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a:after,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a:before,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a:after {
    display: table;
    content: " ";
}

.navbar-nav > .dropdown-letters > .dropdown-menu > li ul > li > a:after,
.navbar-nav > .dropdown-messages > .dropdown-menu > li ul > li > a:after {
    clear: both;
}

.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a {
    padding: 10px;
}

.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a > h3 {
    font-size: 14px;
    padding: 0;
    margin: 0 0 10px 0;
    color: #666666;
}

.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a > h3 > small {
    margin-top: -10px;
}

.navbar-nav > .dropdown-tasks > .dropdown-menu > li ul > li > a > .progress {
    padding: 0;
    margin: 0;
}

.navbar-nav > .widget-user {
    background-color: #F0F0F0;
    margin-left: 10px;
}

.navbar-nav > .widget-user a {
    color: #5E5E5E;
    font-weight: 700;
}

.navbar-nav > .widget-user > .dropdown-menu {
    max-width: 100px;
    padding: 0;
    margin: 0;
    border: 1px solid #cfcfcf;
}

.navbar-nav > .widget-user > .dropdown-menu > li {
    padding: 0;
    margin: 0;
}

.navbar-nav > .widget-user > .dropdown-menu > li.footer > a {
    text-align: left;
}

.navbar-nav > .widget-user > .dropdown-menu > li > a, .box .dropdown-menu > li > a {
    padding: 10px !important;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.navbar-nav > .widget-user > .dropdown-menu > li > a:hover, .box .dropdown-menu > li > a:hover {
    background-color: #F0F0F0 !important;
    color: #5E5E5E !important;
}

.navbar-nav > .widget-user img {
    width: 30px;
    height: 30px;
    margin: -5px 10px 0 0;
    box-shadow: 0 0 0 2px #FFF;
}

#header-widget .navbar-nav > .widget-user > .dropdown-menu > li.footer > a {
    text-align: left;
}
/*-- End Полоса уведомлений для авторизованных пользователей --*/

/*-- Адаптивность --*/
@media (max-width: 400px) {
    /* Header Widght */
    .navbar .navbar-nav > li > a,
    #header-widget .widget-user a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #header-widget .navbar .nav > li.open:not(.widget-user) {
        width: 40px;
    }
    #header-widget .logo i {
        margin: 0 5px 0 7px;
    }
    .blog .user .login {
        display: none;
    }
    /* Комментарии */
    .comment .vote .vote-like i,
    .comment .vote .vote-dislike i {
        font-size: 27px;
    }
    .mce-btn button {
        padding: 4px 5px !important;
    }
    /* Теги */
    #tags-area .col-xs-6 {
        width: 100%;
    }
}
@media (max-width: 440px) {
    /* Комментарии */
    .comment .vote .vote-like i,
    .comment .vote .vote-dislike i {
        font-size: 30px;
    }
    .br-xxs {
        display: block;
    }
    .blog .image {
        width: 100%;
        text-align: center;
    }
    #users {
        font-size: 13px;
    }
}
@media (max-width: 520px) {
    /* Header Widght */
    #header-widget .edit-page,
    #header-widget .edit-advertising {
        display: none;
    }
    #header-widget .navbar-nav .open:not(.widget-user) .dropdown-menu {
        right: -90px !important;
    }
    .blog .avatar-link img {
        width: 40px;
        height: 40px;
    }
    #articles-area .col-xs-1 {
        padding: 0px;
    }
    #honors-sidebar-widget .honor {
        width: 100% !important;
        margin: 0 !important;
    }
}
@media (min-width: 521px) and (max-width: 766px) {
    /* Все пользователи */
    #search-users-form .is-online .checkbox-material {
        margin-left: -10px;
    }
    #search-users-form .is-online .text {
        font-size: 12px;
        margin-left: 0 !important;
    }
}
@media (max-width: 767px) {
    /*body {*/
        /*background: #f5ffad;*/
    /*}*/
    h2, h2 {
        font-size: 22px;
    }
    .h3, h3, .h4, h4 {
        font-size: 18px;
    }
    .tooltip {
        display: none !important;
    }
    /*Header*/
    #navbar-top .navbar-nav {
        margin: 0;
    }
    #navbar-top .navbar-nav > li {
        float: left;
    }
    #search {
        margin: 10px 0;
    }
    #search .hint {
        font-size: 12px;
        line-height: 14px;
    }
    #site-title {
        text-align: center;
    }
    #site-title h1 {
        font-size: 18px;
    }
    #site-title h1 span {
        display: inline-block;
        width: 100%;
    }
    #site-title h1 .slogan {
        font-size: 14px;
    }
    .col-logo {
        display: inline-block;
        width: 100%;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo a {
        display: inline-block;
    }
    .logo img {
        max-width: 500px;
        width: 100%;
    }
    .btn-login {
        width: auto;
        padding-left: 6px;
        padding-right: 10px;
    }
    /* Header Widght */
    #header-widget .nav {
        margin: 0;
    }
    #header-widget .navbar-left {
        float: left;
    }
    #header-widget .navbar-right {
        float: right;
    }
    #header-widget .navbar-nav .open .dropdown-menu {
        background-color: #ffffff;
        position: absolute;
        right: 0;
        left: auto;
    }
    #header-widget .navbar .nav > li {
        float: left;
    }
    #header-widget .logo {
        margin: 0;
    }
    /* Menu */
    #navbar-main {
        height: auto !important;
    }
    #navbar-main .navbar-nav {
        margin: 0;
    }
    .navbar #navbar-main .navbar-nav {
        display: block;
    }
    /* Рейтинг */
    #rating {
        float: right;
    }
    #rating #rate-votes,
    #rating #rate-voters,
    #rating #rate-stars {
        float: left;
        margin-left: 7px;
    }
    #rating #rate-votes {
        margin-left: 0;
    }
    #rating #rate-voters {
        font-size: 13px;
        line-height: 26px;
    }
    /* Content */
    .page-info,
    .blog .category {
        font-size: 12px;
    }
    .page-info .date i {
        display: none;
    }
    .blog .answers-text {
        font-size: 12px;
        display: none;
    }
    .blog .answers-value a.count {
        font-size: 20px;
        line-height: 34px;
    }
    .blog .answers-value .material-icons {
        font-size: 28px;
        line-height: 34px;
    }
    .blog .buttons {
        text-align: right;
    }
    .blog .date,
    #content .date {
        font-size: 12px;
        line-height: 24px;
        font-style: italic;
        color: #777;
        margin-bottom: 5px;
    }
    .blog .well {
        padding-top: 10px;
    }
    .blog .answers-value {
        display: inline-block;
        width: 100%;
        text-align: right;
    }
    .blog .answers-value a {
        float: none;
        display: inline-block;
        width: 100%;
        line-height: 24px;
    }
    .blog .answers-value a.count {
        padding-right: 5px;
    }
    .blog .answers-value .material-icons {
        margin: 0;
    }
    /* Все пользователи */
    #search-users-form .is-online .text {
        font-size: 12px;
        margin-left: -13px;
    }
    #users .avatar-link img {
        width: 40px;
        height: 40px;
    }
    /* Ошибки */
    .error .error-code {
        font-size: 140px;
    }
    .error .error-message {
        font-size: 28px;
    }
    /* Награды */
    #honors-sidebar-widget .honor {
        width: calc(50% - 20px);
        float: left;
        margin: 0 10px 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 738px;
    }
    /*body {*/
        /*background: #8eddff;*/
    /*}*/
    h2, h2 {
        font-size: 24px;
    }
    .tooltip {
        display: none !important;
    }
    /*Header*/
    #search {
        margin-top: 10px;
    }
    #site-title {
        text-align: center;
    }
    #site-title h1 {
        font-size: 16px;
    }
    #site-title h1 .slogan {
        font-size: 12px;
    }
    .col-logo {
        display: inline-block;
        width: 100%;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .logo a {
        display: inline-block;
    }
    .logo img {
        max-width: 500px;
    }
    /* Menu */
    .navbar {
        min-height: 40px !important;
    }
    #navbar-main {
        height: 40px !important;
    }
    .navbar #navbar-main .navbar-nav > li > a {
        font-size: 12px;
        padding: 10px 5px 10px 6px;
    }
    /* Награды */
    #honors-sidebar-widget .honor {
        width: calc(33% - 20px);
        float: left;
        margin: 0 10px 5px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 962px;
    }
    /*body {*/
        /*background: #8fee95;*/
    /*}*/
    .btn {
        white-space: normal;
    }
    h2, h2 {
        font-size: 24px;
    }
    /* Header */
    #search {
        margin-top: 24px;
    }
    #site-title h1 {
        font-size: 18px;
    }
    #site-title h1 .slogan {
        font-size: 16px;
    }
    .btn-login {
        width: auto;
        padding-left: 6px;
        padding-right: 10px;
    }
    /* Menu */
    .navbar #navbar-main .navbar-nav > li > a {
        font-size: 14px;
        padding: 15px 10px;
    }
    /* Sidebar Widgets */
    #questions-sidebar-widget .best .material-icons.mdi-success {
        font-size: 34px;
        line-height: 34px;
    }
    .sidebar-widget .list-group-item .row-picture {
        padding-right: 10px;
    }
    .sidebar-widget .list-group-item .row-picture img {
        width: 40px;
        height: 40px;
    }
    /* Рейтинг */
    #rating {
        float: right;
    }
    #rating #rate-votes,
    #rating #rate-voters,
    #rating #rate-stars {
        float: left;
        margin-left: 7px;
    }
    #rating #rate-votes {
        margin-left: 0;
    }
    #rating #rate-voters {
        font-size: 13px;
        line-height: 26px;
    }
    /* Content */
    .page-info,
    .blog .category {
        font-size: 12px;
    }
    .page-info .date i {
        display: none;
    }
    .blog .answers-text {
        font-size: 12px;
        display: none;
    }
    .blog .answers-value a.count {
        font-size: 20px;
        line-height: 34px;
    }
    .blog .answers-value .material-icons {
        font-size: 28px;
        line-height: 34px;
    }
    /* Профиль пользователя */
    .profile-user-status .text {
        font-size: 12px;
    }
}
@media (min-width: 1200px) and (max-width: 1329px) {
    .container {
        width: 1170px;
    }
    /*body {*/
        /*background: #ffc2da;*/
    /*}*/
    .btn {
        white-space: normal;
    }
    /* Login */
    #login-layout .form-group a:not(.btn) {
        margin-right: 20px;
        margin-left: -10px;
    }
    /* Header */
    #search {
        margin-top: 40px;
    }
    .breadcrumb {
        font-size: 12px;
    }
    /* Sidebar Widgets */
    #questions-sidebar-widget .best .material-icons.mdi-success {
        font-size: 34px;
        line-height: 34px;
    }
}

@media (min-width: 1330px) {
    .container {
        width: 1300px;
    }
}