<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

	RewriteRule ^chery$ /stati/chery/? [R=301,L]
	RewriteRule ^sovety.html$ /sovety/? [R=301,L]
	RewriteRule ^vaz-2108-vaz-2109-vaz-2110$ /stati/vaz-2108-vaz-2109-vaz-2110/? [R=301,L]
	RewriteRule ^voprosotvet$ /vopros-otvet/? [R=301,L]
	RewriteRule ^vaz-2101-vaz-2106-vaz-2107$ /stati/vaz-2101-vaz-2106-vaz-2107/? [R=301,L]
	RewriteRule ^daewoo$ /stati/daewoo/? [R=301,L]
	RewriteRule ^mitsubishi-micubisi$ /stati/mitsubishi-micubisi/? [R=301,L]
	RewriteRule ^tavrija-slavuta-zaz1102-tavria-nova$ /stati/tavrija-slavuta-zaz1102-tavria-nova/? [R=301,L]

	RewriteRule ^daewoo/stojki-perednego-i-zadnego-stabilizatora-poperechnoj-ustojchivosti-daewoo-nubira-djeu-nubira-zamena-i-modernizacija-uluchshenie.html$ /stati/daewoo/stojki-perednego-i-zadnego-stabilizatora-poperechnoj-ustojchivosti-daewoo-nubira--deu-nubira---zamena-i-modernizatsiya--uluchshenie-.html/? [R=301,L]
	RewriteRule ^stati/daewoo/stojki-perednego-i-zadnego-stabilizatora-poperechnoj-ustojchivosti-daewoo-nubira-djeu-nubira-zamena-i-modernizacija-uluchshenie.html$ /stati/daewoo/stojki-perednego-i-zadnego-stabilizatora-poperechnoj-ustojchivosti-daewoo-nubira--deu-nubira---zamena-i-modernizatsiya--uluchshenie-.html/? [R=301,L]
	RewriteRule ^daewoo/zamena-rodnyh-sajlentblokov-nizhnih-rychagov-na-usilennye-sajlentbloki-v-avtomobile-daewoo-nubira-djeu-nubira.html$ /stati/daewoo/zamena-rodnyh-sajlentblokov-nizhnih-rychagov-na-usilennye-sajlentbloki-v-avtomobile-daewoo-nubira-deu-nubira.html/? [R=301,L]
	RewriteRule ^garazh/skolko-let-pompe-ili-kachestvennaja-ohlazhdajuschaja-zhidkost.html$ /garazh/skolko-let-pompe-ili-kachestvennaya-ohlazhdayushchaya-zhidkost.html/? [R=301,L]
	RewriteRule ^chery/zamena-masla-v-dvigatele-avtomobilja-chery-kimo.html$ /stati/chery/zamena-masla-v-dvigatele-avtomobilya-chery-kimo.html/? [R=301,L]
	RewriteRule ^chery/zamena-podshipnika-perednej-stupicy-na-avtomobile-chery-kimo.html$ /stati/chery/zamena-podshipnika-perednej-stupitsy-na-avtomobile-chery-kimo.html/? [R=301,L]
	RewriteRule ^vaz-2101-vaz-2106-vaz-2107/kak-samostojatelno-ubrat-reguljator-davlenija-zadnih-tormozov-na-avtomobiljah-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107-klassika-zhiguli.html$ /stati/vaz-2101-vaz-2106-vaz-2107/kak-samostoyatelno-ubrat-regulyator-davleniya-zadnih-tormozov-na-avtomobilyah-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika-zhiguli.html/? [R=301,L]
	RewriteRule ^stati/daewoo/zamena-zadnih-tormoznyh-kolodok-na-avtomobiljah-daewoo-nexia-daewoo-lanos-daewoo-sens-chevrolet-lanos.html$ /stati/daewoo/zamena-zadnih-tormoznyh-kolodok-na-avtomobilyah-daewoo-nexia-daewoo-lanos-daewoo-sens-chevrolet-lanos.html/? [R=301,L]

    # 10/11/2016
    RewriteRule ^tavrija/blog.html$ /stati/tavrija-slavuta-zaz1102-tavria-nova/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/blog.html$ /stati/vaz-2101-vaz-2106-vaz-2107/? [R=301,L]

    RewriteRule ^tavrija-slavuta-zaz1102-tavria-nova/zamena-sharovoj-opory-zaz1102-tavrija-slavuta.html$ /stati/tavrija-slavuta-zaz1102-tavria-nova/zamena-sharovoj-opory-zaz-1102-tavriya-slavuta.html/? [R=301,L]
    RewriteRule ^tavrija-slavuta-zaz1102-tavria-nova/kak-zamenit-shpilku-kreplenija-diska-perednego-i-zadnego-kolesa-na-avtomobile-tavrija-slavuta.html$ /stati/tavrija-slavuta-zaz1102-tavria-nova/kak-zamenit-shpilku-krepleniya-diska-perednego-i-zadnego-kolesa-na-avtomobile-tavriya-slavuta.html/? [R=301,L]
    RewriteRule ^stati/tavrija-slavuta-zaz1102-tavria-nova/kak-zamenit-shpilku-krepleniya-diska-perednego-i-zadnego-kolesa-na-avtomobile-tavriya-slavuta.html$ /sovety/pravilnaya-zaryadka-i-obsluzhivanie-avtomobilnogo-akkumulyatora.html/? [R=301,L]
    RewriteRule ^garazh/tech-iz-pod-kryishki-grm-na-avtomobile-vaz-2109.html$ /garazh/tech-iz-pod-kryshki-grm-na-avtomobile-vaz-2109.html/? [R=301,L]
    RewriteRule ^stati/chery/zamena-podshipnika-perednej-stupicy-na-avtomobile-chery-kimo.html$ /stati/chery/zamena-podshipnika-perednej-stupitsy-na-avtomobile-chery-kimo.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-masla-i-masljanogo-filtra-v-dvigatele-avtomobilja-daewoo-matiz.html$ /stati/daewoo/zamena-masla-i-maslyanogo-filtra-v-dvigatele-avtomobilya-daewoo-matiz.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-pompy-na-avtomobiljah-vaz2101-vaz2102-vaz2104-vaz2105-vaz2106-vaz2107-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-pompy-na-avtomobilyah-vaz-2101-vaz-2102-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-remnja-grm-i-natjazhnogo-rolika-na-avtomobiljah-daewoo-nexia-daewoo-lanos-s-obemom-dvigatelja-15.html$ /stati/daewoo/zamena-remnya-grm-i-natyazhnogo-rolika-na-avtomobilyah-daewoo-nexia-daewoo-lanos-s-obemom-dvigatelya-15.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-transmissionnogo-masla-v-reduktore-zadnego-mosta-i-korobke-peredach-kpp-na-avtomobiljah-vaz2101-vaz2102-vaz2104-vaz2105-vaz2106-vaz2107-zhiguli.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-transmissionnogo-masla-v-reduktore-zadnego-mosta-i-korobke-peredach--kpp--na-avtomobilyah-vaz-2101-vaz-2102-vaz-2104-vaz-2105-vaz-2106-vaz-2107-zhiguli.html/? [R=301,L]
    RewriteRule ^garazh/a/104-Neudachnaya-pokupka-korobki-peredach-dlya-avtomobilya-Vaz-21099.html$ /garazh/neudachnaya-pokupka-korobki-peredach-dlya-avtomobilya-vaz-21099.html/? [R=301,L]
    RewriteRule ^garazh/tech-iz-pod-kryishki-grm-na-avtomobile-vaz-2109.html$ /garazh/tech-iz-pod-kryshki-grm-na-avtomobile-vaz-2109.html/? [R=301,L]
    RewriteRule ^stati/daewoo/zamena-ohlazhdajuschej-zhidkosti-antifriza-v-avtomobile-daewoo-lanos-djeu-lanos.html$ /stati/daewoo/zamena-ohlazhdayushchej-zhidkosti-antifriza-v-avtomobile-daewoo-lanos-deu-lanos.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-ohlazhdajuschej-zhidkosti-antifriza-v-avtomobile-daewoo-lanos-djeu-lanos.html$ /stati/daewoo/zamena-ohlazhdayushchej-zhidkosti-antifriza-v-avtomobile-daewoo-lanos-deu-lanos.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-zadnego-tormoznogo-cilindra-na-avtomobile-daewoo-lanos-daewoo-sens-zaz-lanos-zaz-chance.html$ /stati/daewoo/zamena-zadnego-tormoznogo-tsilindra-na-avtomobile-daewoo-lanos-daewoo-sens-zaz-lanos-zaz-chance.html/? [R=301,L]
    RewriteRule ^stati/daewoo/zamena-salnika-shtoka-mehanizma-perekljuchenija-peredach-na-avtomobiljah-daewoo-nexia-daewoo-lanos-chevrolet-lanos-opel-kadett.html$ /stati/daewoo/zamena-salnika-shtoka-mehanizma-pereklyucheniya-peredach-na-avtomobilyah-daewoo-nexia-daewoo-lanos-chevrolet-lanos-opel-kadett.html/? [R=301,L]
    RewriteRule ^stati/vaz-2101-vaz-2106-vaz-2107/zamena-zadnih-tormoznyh-kolodok-na-avtomobiljah-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-zadnih-tormoznyh-kolodok-na-avtomobilyah-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-zadnih-tormoznyh-kolodok-na-avtomobiljah-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-zadnih-tormoznyh-kolodok-na-avtomobilyah-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika.html/? [R=301,L]
    RewriteRule ^sovety/kak-pravilno-zapuskat-dvigatel-avtomobilja-zimoj.html$ /sovety/kak-pravilno-zapuskat-dvigatel-avtomobilya-zimoj.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-tormoznyh-diskov-i-perednih-tormoznyh-kolodok-na-avtomobiljah-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107-klassika-zhiguli.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-tormoznyh-diskov-i-perednih-tormoznyh-kolodok-na-avtomobilyah-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika-zhiguli.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-vtulok-zadnih-reaktivnyh-tjag-shtang-v-avtomobile-vaz2101-vaz21011-vaz2102-vaz2103-vaz2104-vaz2105-vaz2106-vaz2107-zhiguli-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-vtulok-zadnih-reaktivnyh-tyag--shtang-v-avtomobile-vaz-2101-vaz-21011-vaz-2102-vaz-2103-vaz-2104-vaz-2105-vaz-2106-vaz-2107-zhiguli-klassika.html/? [R=301,L]
    RewriteRule ^istorija-avtovaza/istorija-sozdanija-razvitija-kompanii-avtovaz-i-avtomobilej-vaz.html$ /avtoistorija/istoriya-sozdaniya-razvitiya-kompanii-avtovaz-i-avtomobilej-vaz.html/? [R=301,L]
    RewriteRule ^istorija-gaz/istorija-sozdanija-i-razvitija-avtomobilej-gaz.html$ /avtoistorija/istoriya-sozdaniya-i-razvitiya-avtomobilej-gaz.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-zadnego-tormoznogo-cilindra-na-avtomobile-daewoo-matiz.html$ /stati/daewoo/zamena-zadnego-tormoznogo-tsilindra-na-avtomobile-daewoo-matiz.html/? [R=301,L]
    RewriteRule ^vaz-2108-vaz-2109-vaz-2110/provodim-zamenu-standartnogo-kardanchika-kpp-v-avtomobile-vaz2108-vaz2109-vaz21099-vaz2110-na-korotkohodnyj-kardanchik-ot-avtomobilja-vaz1118-lkalinar.html$ /stati/vaz-2108-vaz-2109-vaz-2110/provodim-zamenu-standartnogo-kardanchika-kpp-v-avtomobile-vaz-2108-vaz-2109-vaz-21099-vaz-2110-na-korotkohodny-kardanchik-ot-avtomobilya-vaz-1118-kalina.html/? [R=301,L]
    RewriteRule ^tavrija-slavuta-zaz1102-tavria-nova/zamena-radiatora-pechki-otopitelja-na-avtomobiljah-tavrija-slavuta-zaz1102-zaz1103-zaz1105.html$ /stati/tavrija-slavuta-zaz1102-tavria-nova/zamena-radiatora-pechki-otopitelya-na-avtomobilyah-tavriya-slavuta-zaz-1102-zaz-1103-zaz-1105.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-sajlentblokov-perednih-nizhnih-i-verhnih-rychagov-na-avtomobiljah-vaz2101-vaz2102-vaz2103-vaz2104-vaz2105-vaz2106-vaz2107.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-sajlentblokov-perednih--nizhnih-i-verhnih--rychagov-na-avtomobilyah-vaz-2101-vaz-2102-vaz-2103-vaz-2104-vaz-2105-vaz-2106-vaz-2107.html/? [R=301,L]
    RewriteRule ^vaz-2108-vaz-2109-vaz-2110/zamena-verhnej-opory-perednej-stojki-na-avtomobiljah-vaz2108-vaz2109-vaz21099-vaz2110-vaz2115.html$ /stati/vaz-2108-vaz-2109-vaz-2110/zamena-verhnej-opory-perednej-stojki-na-avtomobilyah-vaz-2108-vaz-2109-vaz-21099-vaz-2110-vaz-2115.html/? [R=301,L]
    RewriteRule ^stati/daewoo/zamena-salnika-shtoka-mehanizma-perekljuchenija-peredach-na-avtomobiljah-daewoo-nexia-daewoo-lanos-chevrolet-lanos-opel-kadett.html$ /stati/daewoo/zamena-salnika-shtoka-mehanizma-pereklyucheniya-peredach-na-avtomobilyah-daewoo-nexia-daewoo-lanos-chevrolet-lanos-opel-kadett.html/? [R=301,L]
    RewriteRule ^stati/daewoo/zamena-masla-v-dvigatele-avtomobilja-daewoo-nubira-20.html$ /stati/daewoo/zamena-masla-v-dvigatele-avtomobilya-daewoo-nubira-20.html/? [R=301,L]
    RewriteRule ^stati/daewoo/chistka-drosselnoj-zaslonki-na-avtomobiljah-daewoo-nexia-i-daewoo-lanos.html$ /stati/daewoo/chistka-drosselnoj-zaslonki-na-avtomobilyah-daewoo-nexia-i-daewoo-lanos.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-pompy-na-avtomobiljah-vaz2101-vaz2102-vaz2104-vaz2105-vaz2106-vaz2107-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-pompy-na-avtomobilyah-vaz-2101-vaz-2102-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-vtulok-rezinok-stabilizatora-poperechnoj-ustojchivosti-perednej-podveski-na-avtomobiljah-daewoo-lanos-daewoo-nexia-daewoo-sens-chevrolet-lanos.html$ /stati/daewoo/zamena-vtulok-rezinok-stabilizatora-poperechnoj-ustojchivosti-perednej-podveski-na-avtomobilyah-daewoo-lanos-daewoo-nexia-daewoo-sens-chevrolet-lanos.html/? [R=301,L]
    RewriteRule ^sovety/tosol-ili-antifriz-delaem-pravilnyj-vybor.html$ /sovety/tosol-ili-antifriz--delaem-pravilny-vybor.html/? [R=301,L]
    RewriteRule ^vaz-2108-vaz-2109-vaz-2110/zamena-sajlentblokov-zadnej-balki-na-avtomobiljah-vaz2108-vaz2109-vaz21099-vaz2110-vaz2112-vaz2114-vaz2115.html$ /stati/vaz-2108-vaz-2109-vaz-2110/zamena-sajlentblokov-zadnej-balki-na-avtomobilyah-vaz-2108-vaz-2109-vaz-21099-vaz-2110-vaz-2112-vaz-2114-vaz-2115.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-jelastichnoj-mufty-kardannogo-vala-i-salnika-vtorichnogo-vala-korobki-peredach-na-avtomobiljah-vaz2101-vaz2105-vaz2106-vaz2107-klassika-zhiguli.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-elastichnoj-mufty-kardannogo-vala-i-salnika-vtorichnogo-vala-korobki-peredach-na-avtomobilyah-vaz-2101-vaz-2105-vaz-2106-vaz-2107-klassika-zhiguli.html/? [R=301,L]
    RewriteRule ^vaz-2108-vaz-2109-vaz-2110/zamena-podushki-kulisy-perekljuchenija-peredach-na-avtomobiljah-vaz2110-vaz2111-vaz2112.html$ /stati/vaz-2108-vaz-2109-vaz-2110/zamena-podushki-kulisy-pereklyucheniya-peredach-na-avtomobilyah-vaz-2110-vaz-2111-vaz-2112.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-zadnih-tormoznyh-kolodok-na-avtomobiljah-daewoo-nexia-daewoo-lanos-daewoo-sens-chevrolet-lanos.html$ /stati/daewoo/zamena-zadnih-tormoznyh-kolodok-na-avtomobilyah-daewoo-nexia-daewoo-lanos-daewoo-sens-chevrolet-lanos.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/rekomendacii-po-vyboru-i-proverke-krestovin-kardannogo-vala-dlja-avtomobilej-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107.html$ /stati/vaz-2101-vaz-2106-vaz-2107/rekomendatsii-po-vyboru-i-proverke-krestovin-kardannogo-vala-dlya-avtomobilej-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107.html/? [R=301,L]
    RewriteRule ^tavrija-slavuta-zaz1102-tavria-nova/zamena-perednih-tormoznyh-kolodok-na-avtomobiljah-zaz1102-tavrija-slavuta.html$ /stati/tavrija-slavuta-zaz1102-tavria-nova/zamena-perednih-tormoznyh-kolodok-na-avtomobilyah-zaz-1102-tavriya-slavuta.html/? [R=301,L]
    RewriteRule ^daewoo/zamena-zhidkosti-gur-na-avtomobiljah-daewoo-nexia-daewoo-lanos.html$ /stati/daewoo/zamena-zhidkosti-v-gur-na-avtomobilyah-daewoo-nexia-daewoo-lanos.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-ohlazhdajuschej-zhidkosti-antifriza-ili-tosola-v-avtomobile-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-ohlazhdayushchej-zhidkosti-antifriza-ili-tosola-v-avtomobile-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107.html/? [R=301,L]
    RewriteRule ^vaz-2108-vaz-2109-vaz-2110/zamena-sajlentblokov-perednih-rychagov-na-avtomobiljah-vaz2108-vaz2109-vaz2110-vaz2114-vaz2115-vaz1119-kalina-vaz2170-priora.html$ /stati/vaz-2108-vaz-2109-vaz-2110/zamena-sajlentblokov-perednih-rychagov-na-avtomobilyah-vaz-2108-vaz-2109-vaz-2110-vaz-2114-vaz-2115-vaz-1119-kalina-vaz-2170-priora.html/? [R=301,L]
    RewriteRule ^vaz-2101-vaz-2106-vaz-2107/zamena-i-remont-glavnogo-tormoznogo-cilindra-na-avtomobiljah-vaz2101-vaz2104-vaz2105-vaz2106-vaz2107-klassika.html$ /stati/vaz-2101-vaz-2106-vaz-2107/zamena-i-remont-glavnogo-tormoznogo-tsilindra-na-avtomobilyah-vaz-2101-vaz-2104-vaz-2105-vaz-2106-vaz-2107-klassika.html/? [R=301,L]

	RewriteCond %{HTTP_HOST} ^avtorem\.info$ [NC]
    RewriteRule ^(.*)$ http://www.avtorem.info/$1 [R=301,L]

    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php[^/] /$1? [L,R=301,NC,NE]
    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^(.*?)index\.php(?:/(.*))?$ /$1$2? [L,R=301,NC,NE]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<ifModule mod_expires.c>
    
    # Add correct content-type for fonts
    AddType application/vnd.ms-fontobject .eot
    AddType application/x-font-ttf .ttf
    AddType application/x-font-opentype .otf
    AddType application/x-font-woff .woff
    AddType image/svg+xml .svg

    # Compress compressible fonts
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-opentype image/svg+xml

    ExpiresActive On
    ExpiresDefault "access plus 5 seconds"

    # Cache Images
    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType image/svg+xml "access plus 2592000 seconds"

    # Cache Fonts
    ExpiresByType application/vnd.ms-fontobject "access plus 2592000 seconds"
    ExpiresByType application/x-font-ttf "access plus 2592000 seconds"
    ExpiresByType application/x-font-opentype "access plus 2592000 seconds"
    ExpiresByType application/x-font-woff "access plus 2592000 seconds"
    ExpiresByType image/svg+xml "access plus 2592000 seconds"

    # Cache other content types (Flash, CSS, JS, HTML, XML)
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 2592000 seconds"
    ExpiresByType application/javascript "access plus 2592000 seconds"
    ExpiresByType application/x-javascript "access plus 2592000 seconds"
    ExpiresByType text/html "access plus 600 seconds"
    ExpiresByType application/xhtml+xml "access plus 600 seconds"

</ifModule>